*{
    background-color: rgb(34, 181, 186);
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

li {
    text-align: left;
    
}

h1{
    font-size: x-large;
    color: aliceblue;
    background-color: black;
}